body {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .container {
    padding: 0 0;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a3948 url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.header__text-inner {
  padding-top: 100px;
  max-width: 320px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.header__text-inner:active > a {
  opacity: 0.5;
}

.header__img {
  padding-top: 115px;
  max-width: 620px;
  max-height: 599px;
}

.header__img img {
  width: 100%;
  height: 100%;
}

.header__text-inner > a {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 21px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 15px 30px;
}

.header__text-inner > a:hover {
  color: #d22856;
  background-color: #fff;
}

.header__text-inner p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 115px;
}

.header__title {
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.header__icon-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.android {
  margin: 0 30px;
}

.top-menu {
  background-color: rgba(0, 0, 0, 0.31);
}

.top-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.top-menu__nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 69px;
  padding: 10px 0;
  -webkit-transition: 0.300s;
  transition: 0.300s;
}

.top-menu__nav a:hover {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

.top-menu__nav a:active {
  opacity: 0.3;
}

.top-menu__logo-link {
  margin-left: 35px;
}

.header__container {
  height: 110px;
}

@media (max-width: 940px) {
  .burger-button {
    cursor: pointer;
    width: 50px;
    height: 40px;
    top: 0;
    right: 35px;
    background-color: transparent;
    position: relative;
  }
  .burger-button__link::before, .burger-button__link::after, .burger-button__link {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    top: 15px;
    right: 0px;
  }
  .burger-button__link::before {
    content: "";
    top: -10px;
    left: 0;
  }
  .burger-button__link::after {
    content: "";
    top: 10px;
    left: 0;
  }
  .burger-button:hover .burger-button__link,
  .burger-button:hover .burger-button__link::before,
  .burger-button:hover .burger-button__link::after {
    background-color: #d22856;
  }
  .burger-button:active .burger-button__link,
  .burger-button:active .burger-button__link::before,
  .burger-button:active .burger-button__link::after {
    opacity: 0.5;
  }
  .header__container-active .burger-button__link::after {
    display: none;
  }
  .header__container-active .burger-button__link {
    position: absolute;
    top: 20px;
    width: 35px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__container-active .burger-button__link:before {
    position: absolute;
    top: 0;
    width: 35px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header__container-active .top-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #283645;
    width: 100%;
    position: absolute;
    top: 110px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__container-active .top-menu__nav a {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0 1px 0 #000000, inset 0 2px 0 rgba(255, 255, 255, 0.15);
            box-shadow: 0 1px 0 #000000, inset 0 2px 0 rgba(255, 255, 255, 0.15);
    border: none;
  }
  .header__container-active .top-menu__nav a:hover {
    color: #d22856;
  }
  .header__container-active .top-menu__nav a:active {
    opacity: 0.5;
  }
  .header__container-active {
    background-color: #283645;
  }
  .header__wrapper {
    padding-top: 100px;
  }
}

.offer {
  width: 100%;
  height: 320px;
}

.offer__container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.offer h1 {
  text-align: center;
  padding-top: 70px;
  color: #283645;
  font-size: 50px;
  font-weight: 300;
}

.offer__container-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__img {
  overflow: visible;
  z-index: 30;
}

.offer__wrapper {
  max-width: 300px;
  margin-right: 20px;
  text-align: center;
}

.offer__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.offer__text {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
}

.offer__background {
  background: white;
  background: linear-gradient(177deg, rgba(255, 255, 255, 0.392595) 15%, #f2f2f2 15%);
}

.offer__container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__imgsec {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-right: 65px;
}

.offer__wra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__wra > a {
  color: #d22856;
  line-height: 30px;
  text-decoration: underline;
  padding-top: 30px;
}
/*# sourceMappingURL=style.css.map */